# Ignore invisible files (except .gitignore)
**/.*
!**/.gitignore

# Ignore data files
**/*.[Rr][Dd]ata
**/*.[Rr][Dd]s
**/*.arrow
**/*.cfs
**/*.csv

# Ignore unwanted Python files
**/*.pyc

# Ignore generated plots
**/*.pdf
**/*.zip
